@mixin mg__vert--small {
  margin: 0.4rem 0;
}

@mixin mg__vert--medium {
  margin: 1rem 0;
}

.flex-col__center-item {
  justify-self: center;
  align-self: center;
}

.flex-col__right-item {
  justify-self: center;
  align-self: flex-end;
}

.flex-col__left-item {
  justify-self: center;
  align-self: flex-start;
}
