.mg__hor--medium {
  margin: 2rem 0;
}

.f-box {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  flex-flow: wrap;
}
.f-box--left {
  justify-content: flex-start;
}

.f-item__mg--small {
  margin: 0 2rem 0 0;
}

.header--1 {
  font-family: inherit;
  font-weight: 700;
  font-size: 3rem;
  padding: 1rem 0;
  text-shadow: 0.3rem 0rem 1rem rgba(240, 233, 233, 0.4);
  line-height: 1.3;
}

.header--2 {
  font-family: inherit;
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0.3rem 0rem 1rem rgba(240, 233, 233, 0.4);
  line-height: 1.3;
}

.header--3 {
  color: rgba(240, 233, 233, 0.952);
  font-family: inherit;
  font-size: 1.7rem;
}

.header--5 {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  font-weight: 100;
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  color: rgba(240, 233, 233, 0.952);
}

.header--6 {
  font-family: inherit;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0.3rem 0rem 1rem rgba(240, 233, 233, 0.4);
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .header--1 {
    font-size: 4.5rem;
    padding: 1rem 0;
    line-height: 1.3;
  }

  .header--3 {
    font-size: 3rem;
    line-height: 1.3;
  }

  .header--5 {
    font-size: 2.6rem;
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
  }
}
.section-about {
  max-height: 100%;
  max-width: 100vw;
  margin: 10vh 0rem 0vh 0rem;
  padding: 3rem 5rem 5vh 5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-duration: 3s;
  animation-delay: 1s;
}
.section-about__header {
  font-size: 3.4rem;
  padding: 2rem 0;
  margin-bottom: 3rem;
}
.section-about__article {
  padding: 2rem 2rem;
  margin-bottom: 3rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  box-shadow: 0 1rem 1.5rem rgba(185, 156, 28, 0.4);
  border-radius: 5px;
  background-color: rgba(19, 26, 37, 0.992);
}
.section-about .article__header {
  padding: 2rem 0 1rem 0;
  font-size: 2.5rem;
}
.section-about .article__header--sub {
  padding: 2rem 0 1rem 0;
  font-size: 2.2rem;
}
.section-about .article__header::after, .section-about .article__header--sub::after {
  display: block;
  content: "";
  width: 80%;
  height: 2px;
  background-color: #b99c1c;
}
.section-about .article__paragraf {
  padding: 0.5rem 0rem 2.5rem 0rem;
  color: rgba(240, 233, 233, 0.952);
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.section-about .article__list {
  list-style: circle;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  padding: 0.5rem;
}
.section-about .article__list li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.2rem;
}

@media screen and (min-width: 768px) {
  .section-about {
    max-height: 80vh;
    display: grid;
    grid-template-rows: 0.5fr 4fr 4fr;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-areas: "header header header header" "ar1 ar1 ar2 ar2" "ar1 ar1 ar2 ar2";
    gap: 2rem 4rem;
  }
  .section-about__header {
    font-size: 4rem;
    grid-area: header;
    margin: 0;
    justify-self: center;
    align-self: center;
  }
  .section-about .article--1 {
    grid-area: ar1;
    justify-self: center;
    align-self: center;
  }
  .section-about .article--2 {
    grid-area: ar2;
    justify-self: center;
    align-self: center;
  }
  .section-about .article__header {
    padding: 0.5rem 1rem;
  }
  .section-about .article__header--sub {
    padding: 0.5rem 1rem;
  }
}

/*# sourceMappingURL=about.css.map */
