@import '../../abstracts/variables';
@import '../headers/headers.scss';

.section-home {
  width: 80vw;
  height: 80vh;
  margin: 10vh 10vw 10vh 10vw;
  padding: 10% 0;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);

  transition: all 0.3s linear;
  opacity: 0;

  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;

  .orbit {
    position: relative;
    justify-self: center;
    align-self: center;
    grid-row: 1/2;
    grid-column: 2/4;

    &__img--center {
      position: relative;
      width: 13rem;
      height: 13rem;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;

        border-radius: 50%;
        object-fit: 100%;
      }
    }

    ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-2.5rem, -2.5rem);

      list-style: none;

      animation: orbit 50s linear infinite;

      li {
        width: 5.5rem;
        height: 5.5rem;
        aspect-ratio: 1/1;

        --cr-color: --purple-light;
        --cr-color-dark: --purple-dark;

        background-color: var(--cr-color);
        border-radius: 50%;

        position: absolute;
        overflow: hidden;

        transition: all 0.3s linear;

        display: grid;
        place-items: center;

        & > svg {
          position: absolute;
          width: 60%;
          height: 60%;
          color: $color-dark;
          animation: hold-position 50s linear infinite;
        }

        &:hover {
          background-color: var(--cr-color-dark);
        }
      }

      &:hover {
        animation-play-state: paused;
        & * {
          animation-play-state: paused;
        }
      }

      li:nth-child(1) {
        --cr-color: var(--purple-light);
        --cr-color-dark: var(--purple-dark);
        transform: translate(10rem, 0);
      }
      li:nth-child(2) {
        --cr-color: var(--blue-linkedin-light);
        --cr-color-dark: var(--blue-linkedin-dark);
        transform: translate(8rem, 7.5rem);
      }
      li:nth-child(3) {
        --cr-color: var(--red-light);
        --cr-color-dark: var(--red-dark);
        transform: translate(0rem, 10rem);
      }
      li:nth-child(4) {
        --cr-color: var(--blue-css-light);
        --cr-color-dark: var(--blue-css-dark);
        transform: translate(-8rem, 7.5rem);
      }
      li:nth-child(5) {
        --cr-color: var(--orange-light);
        --cr-color-dark: var(--orange-dark);
        transform: translate(-10.5rem, 0rem);
      }
      li:nth-child(6) {
        --cr-color: var(--blue-react-light);
        --cr-color-dark: var(--blue-react-dark);
        transform: translate(-8rem, -7.5rem);
      }
      li:nth-child(7) {
        --cr-color: var(--red-sass-light);
        --cr-color-dark: var(--red-sass-dark);
        transform: translate(0rem, -10.5rem);
      }
      li:nth-child(8) {
        --cr-color: var(--green-light);
        --cr-color-dark: var(--green-dark);
        transform: translate(7.5rem, -7.5rem);
      }
    }
  }

  &__header {
    padding: 4rem 0;
    text-align: left;

    grid-row: 2/3;
    grid-column: 1/4;
  }
}

// desktop
@media screen and (min-width: 768px) {
  .section-home {
    .orbit {
      &__img--center {
        width: 20rem;
        height: 20rem;
      }

      ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-4rem, -4rem);

        list-style: none;

        animation: orbit 50s linear infinite;

        li {
          width: 8rem;
          height: 8rem;
          aspect-ratio: 1/1;
        }

        li:nth-child(1) {
          transform: translate(16rem, 0);
        }
        li:nth-child(2) {
          transform: translate(11rem, 11rem);
        }
        li:nth-child(3) {
          transform: translate(0rem, 16rem);
        }
        li:nth-child(4) {
          transform: translate(-11rem, 11rem);
        }
        li:nth-child(5) {
          transform: translate(-16rem, 0rem);
        }
        li:nth-child(6) {
          transform: translate(-11rem, -11rem);
        }
        li:nth-child(7) {
          transform: translate(0rem, -16rem);
        }
        li:nth-child(8) {
          transform: translate(11rem, -11rem);
        }
      }
    }
  }
}

@keyframes orbit {
  100% {
    rotate: 1turn;
  }
}

@keyframes hold-position {
  100% {
    rotate: -1turn;
  }
}
