@import '../../abstracts/variables';
@import '../../abstracts/ultilities';
@import '../headers/headers.scss';

.card {
  perspective: 1500rem;
  -moz-perspective: 1500rem;

  position: relative;
  width: 100%;
  height: 50rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50rem;

    transition: all 0.8s ease;

    backface-visibility: hidden;
    overflow: hidden;

    border-radius: 0.3rem;
    box-shadow: 0rem 0.8rem 2rem rgba($color-dark, 0.15);

    &--front {
      .card__title {
        position: absolute;
        top: 5%;
        left: 5%;
        padding: 1rem 2rem;
        font-size: 2.4rem;

        background-image: linear-gradient(
          130deg,
          rgba($color-background, 0.8) 0%,
          rgba($color-background-nav, 1) 30%,
          rgba($color-background-nav, 1) 100%
        );

        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
      }

      .card__title--sub {
        position: absolute;
        top: 30%;
        left: 5%;

        font-size: 2.4rem;
      }

      .card__description {
        max-width: 80%;
        position: absolute;
        top: 40%;
        left: 5%;

        color: $color-paragrafs;
        font-family: inherit;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.4;
      }

      .btn--absolute {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
      }

      &--1 {
        background-image: linear-gradient(
          180deg,
          rgba(rgb(146, 61, 61), 1) 0%,
          rgba($color-background-nav, 1) 30%,
          rgba($color-background-nav, 1) 100%
        );
      }
      &--2 {
        background-image: linear-gradient(
          180deg,
          rgba(rgb(92, 175, 71), 1) 0%,
          transparent 30%,
          transparent 100%
        );
      }

      &--3 {
        background-image: linear-gradient(
          180deg,
          rgba($color-headings, 1) 0%,
          transparent 30%,
          transparent 100%
        );
      }
    }
    &--back {
      transform: rotateY(-180deg);

      .card-back__header {
        position: absolute;
        top: 10%;
        left: 5%;
        font-size: 2.4rem;
      }

      .card__stack {
        position: absolute;
        top: 20%;
        left: 5%;

        p {
          font-size: 1.6rem;
          line-height: 1.4;
          font-weight: 500;
        }
      }

      .btn--absolute {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
      }

      .card__link-container {
        width: 50%;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        justify-content: space-between;
        align-items: center;

        .card__link {
          font-size: 5rem;
        }
      }

      &--1 {
        background-image: linear-gradient(
          105deg,
          rgba(rgb(146, 61, 61), 1) 0%,
          rgba(rgb(121, 47, 47), 1) 100%
        );
      }
      &--2 {
        background-image: linear-gradient(
          180deg,
          rgba(rgb(92, 175, 71), 1) 0%,
          rgba(rgb(63, 136, 45), 1) 100%
        );
      }

      &--3 {
        background-image: linear-gradient(
          180deg,
          rgba($color-headings, 1) 0%,
          rgba($color-headings-dark, 1) 100%
        );
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .card {
    width: 80%;
  }
}

.rotateY__0 {
  transform: rotateY(0deg);
}

.rotateY__180 {
  transform: rotateY(-180deg);
}
