@import '../../abstracts/variables';

.navigation-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 13vh;
  z-index: 10;

  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  background-color: $color-primary;
  // border-bottom: 1px solid rgba($color-grey, 0.15);

  font-size: 2rem;

  &__logo-box {
    margin-left: 4rem;
    & > a {
      text-decoration: none;
      color: $color-headings;
      font-weight: 700;

      overflow: hidden;
    }
  }

  &__logo {
    text-align: center;
    width: 16vh;
    height: 16vh;
  }

  &__list {
    margin: 0 4rem 0 0;

    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;

    list-style: none;

    a {
      position: relative;

      margin: 0 1rem;
      padding: 3rem;
      font-size: 2.4rem;
      font-weight: 600;
      font-family: inherit;

      text-decoration: none;
      cursor: pointer;
      color: $color-headings;
      transition: all 0.4s ease-in-out;

      svg {
        transition: all 0.4s ease-in-out;
      }

      &:hover {
        svg {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }
      &::after {
        content: '';
        font-size: 2rem;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        opacity: 0;
        transition: all 0.4s ease-in-out;
      }
    }

    a.link-home {
      &::after {
        content: 'Home';
      }
    }

    a.link-about {
      &::after {
        content: 'About';
      }
    }

    a.link-project {
      &::after {
        content: 'Portfolio';
      }
    }

    a.link-contact {
      &::after {
        content: 'Contact';
      }
    }
  }
}
