@import '../../abstracts/variables';

.navigation-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  z-index: 10;

  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;

  background-color: $color-primary;
  // border-bottom: 1px solid rgba($color-grey, 0.15);

  font-size: 2rem;

  & > * {
    margin: 0rem 2rem;
  }

  &__logo-box {
    & > a {
      text-decoration: none;
      color: $color-headings;
      font-weight: 600;
    }
  }

  &__logo {
    text-align: center;
    width: 10vh;
    height: 10vh;
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    z-index: 8;

    // background-image: radial-gradient($color-grey, $color-grey-dark);
  }

  &__menu {
    position: relative;
    width: 5rem;
    height: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;

    transition: all 0.3s linear;

    & .hm-bar {
      position: absolute;

      width: 2.5rem;
      height: 0.3rem;
      margin: 0.2rem;

      background-color: $color-grey-dark;
      border-radius: 10px;

      transition: all 0.3s linear;

      &-one,
      &-three {
        transform: rotate(0);
      }
      &-one {
        transform: translateY(-0.7rem);
      }
      &-three {
        transform: translateY(0.7rem);
      }

      &-two {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &--open {
      & .hm-bar {
        &-one {
          transform: rotate(45deg);
        }

        &-two {
          opacity: 0;
          transform: translateX(20px);
        }

        &-three {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
